<!-- hero -->
<section id="hero" class="pt-32 lg:pt-40 pb-32 {{ heroBGColor }}">
  <div class="max-w-screen-xl m-auto px-5">
    <div class="font-black grid grid-cols-12 gap-5">
      <div class="col-start-1 col-end-12 lg:col-end-10">
        <h1
          class="text-5xl md:text-8xl tracking-tighter font-bold mb-3 text-{{
            heroTextColor
          }}-100 dark:text-white"
        >
          {{ heroText | safe }}
        </h1>
        <p
          class="text-xl md:text-3xl text-{{
            heroTextColor
          }}-200 font-light dark:text-gray-400"
        >
          {{ heroDescription | safe }}
        </p>
      </div>
    </div>
  </div>
</section>
<!-- hero end -->
