<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="UTF-8" />
    {% if description %}
    <meta name="description" content="{{ description }}" />
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"
    />
    <link rel="stylesheet" href="/style.css?v={% version %}" />
    <script defer src="/js/alpine.js?v={% version %}"></script>
  </head>
  <body class="h-full text-gray-900 antialiased bg-gray-50 bg-top bg-contain">
    {% include "site-header.njk" %}
    <main tabindex="-1" id="main-content">
      {% block content %}
      {{ content | safe }}
      {% endblock %}
    </main>
    {% include "site-footer.html" %}
  </body>
</html>
