---
layout: default.njk
---

{%- include '_singletop.njk' -%}

<section id="start" class="max-w-screen-xl mx-auto px-5">
  <div class="pt-16 text-gray-800 md:grid md:gap-x-10 md:gap-y-5 md:grid-cols-10 md:items-start">
    {% if testimonial %}
      {%- include '_testimonial.njk'  -%}
    {% endif %}
  </div>

  <article
    class="pb-40 work text-lg tracking-tight text-gray-700 md:grid md:gap-x-10 md:gap-y-5 md:grid-cols-10 md:items-start"
  >
    {{ content | safe }}
  </article>

  <div class="text-center">
    <a class="text-gray-600 font-medium hover:text-pink-500 transition-colors" href="#post-head">Back to top</a>
  </div>
</section>

{%- include '_relatedItems.njk' -%}
