{% extends "layouts/default.njk" %} {% block title %} Portfolio - Ryan Bullough
{% endblock%} {% block content %}
<div class="flex justify-center items-center">
  <div>
    <span class="">Good design</span><br />
    <span class="">is<br />as little design<br />as possible</span><br />
    <span x-data="{message:'🤖 Hello World 🤓'}" x-text="message"></span>
  </div>
</div>
{% endblock %}
