---
layout: default.njk
title: Portfolio
description: My personal/profession website.
metaTitle: Ryan Bullough - Freelance front-end web developer and UX designer based in Australia.
metaDescription: Designer/Developer who blends code and user centric design philosophies.
---

{%- block hero-%}
  {% set heroText = "Digital impact doesn't need to be extravagant." %}
  {% set heroDescription = "Ryan Bullough is an Australian engineer who designs and builds simple, well-considered products with human-centred practices." %}
  {% set heroBGColor = "bg-gray-200" %}
  {% set heroTextColor = "black" %}
  {%- include 'hero.njk' -%}
{%- endblock hero-%}

{% block featuredWorks %}
  {% include '_featuredWorks.njk' %}
{% endblock featuredWorks %}

{% block services %}
  {% include '_services.njk' %}
{% endblock services %}

